
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Validated Form</h1>
        <p class="lead text-center">This exercise wants to focus on forms validation</p>
        <p><%= render 'users/form' %></p>
      </div>
      