<h2>Sign up form</h2>
<div class ="row">
  <div class="form-horizontal col-sm-8 col-sm-offset-2">
    <%= form_for(@user) do |f| %>
    <%= render 'static_pages/error_messages' %>
      <div class = "form-group">
        <%= f.label :name, :class => "col-sm-3 control-label text-right" %>
        <div class = "col-sm-7">
        <%= f.text_field :name , :class => "form-control" %>
        </div>
      </div>
      <div class = "form-group">
        <%= f.label :email, :class => "col-sm-3 control-label text-right" %>
        <div class = "col-sm-7">
        <%= f.text_field :email , :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-3 col-sm-offset-7 text-right">
        <%= f.submit "Create my account", :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
