<h1>All users</h1>
<div class="col-sm-offset-2 col-sm-8 col-sm-offset-2" style="float: none">
  <table class="table table-striped table-condensed table-bordered">
    <thead>
    <div class="row">
        <th class="col-sm-1">ID</th>
        <th class="col-sm-3">Name</th>
        <th class="col-sm-4">Email</th>
    </div>
    </thead>
    <tbody>
      <tr>
      <% @users.each do |user| %>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email[0..3] + "******" + user.email[-4..-1] %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
